/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main .foto-1, main .foto-2 {
  width: 400px;
  top: 200px;
  right: 200px;
  border: 3px solid whitesmoke; }

/*Estilos del main*/
main h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #17181f;
  margin: 3rem;
  font-size: 35px;
  font-family: 'Caveat', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Raleway', sans-serif; }
  main h1 span {
    display: block;
    text-align: center; }

main .subtitulo {
  color: #314d4a;
  text-align: center;
  margin: 3rem;
  font-size: 20px; }
  main .subtitulo span {
    display: block; }

main .menu ul {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 2rem;
  list-style: none;
  gap: 1.5rem;
  font-size: 20px; }
  main .menu ul li a {
    color: #ebe68d; }
  main .menu ul li:hover {
    background-color: #d8e2e2;
    transform: scale(0.9); }
  main .menu ul li a:link {
    text-decoration: none; }

main .contenedor {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-auto-rows: 200px;
  padding: 20px;
  grid-gap: 10px; }
  main .contenedor .foto-13 {
    object-position: 50% 26%; }
  main .contenedor .foto-3 {
    object-position: 50% 30%; }
  main .contenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

main .foto-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem; }

main .foto-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem; }

main p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
  font-size: 1.3rem;
  color: #293560; }
  main p span {
    display: block; }

main .texto {
  color: #293560; }

main .eventos {
  display: flex;
  flex-direction: column;
  align-items: center; }

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 3.5rem;
  right: 200px;
  width: 300px; }
  main form input {
    outline: none;
    padding: 5px; }
  main form .mensaje {
    padding: 20px; }
  main form .botones {
    margin: 25px;
    padding: 15px; }

/* Estilos de footer*/
footer div {
  text-align: center;
  align-items: center;
  margin: 1rem; }
  footer div .arriba {
    text-decoration: none;
    color: white; }

footer h3 {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-size: 13px; }

.footer-home {
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 1rem; }
  .footer-home div {
    text-align: center;
    align-items: center;
    /*pseudo clases*/ }
    .footer-home div a:link {
      text-decoration: none; }
    .footer-home div a:visited {
      text-decoration: none; }

.body-home {
  background-image: url(../img/1670784265555.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 1rem; }

body {
  background: black;
  background: linear-gradient(0deg, black 25%, #a39b9d 55%, #cec9cb 65%, white 82%); }

/*estilos de header*/
header {
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (min-width: 768px) {
  main h1 {
    margin: 3rem;
    font-size: 3rem; }
  main .subtitulo {
    margin: 3rem;
    font-size: 2rem; }
  main .menu {
    margin: 2.5rem; }
    main .menu ul {
      justify-content: center;
      align-items: center;
      font-size: 2rem; }
  main .foto-1 {
    margin-left: 25%; }
  main form {
    margin-left: 30%; }
  main .foto-2 {
    margin-left: 23%; }
  main .eventos {
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem; }
  .contenedor {
    grid-template-columns: repeat(3, 1fr); }
  .caja3 {
    grid-row-start: span 2; }
  .caja13 {
    grid-row-start: span 2; }
  .caja11 {
    grid-column-start: span 2; } }

@media screen and (min-width: 1024px) {
  main h1 {
    margin: 1rem;
    font-size: 2rem; }
  main .subtitulo {
    margin: 1rem;
    font-size: 15px; }
  main .menu {
    margin: -10px; }
    main .menu ul {
      justify-content: center;
      align-items: center;
      font-size: 5px; }
  /* estilos porfolio*/
  .contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    padding: 20px;
    grid-gap: 10px; }
    .contenedor img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .caja {
    grid-column-start: span 2; }
  .caja3 {
    grid-row-start: span 2; }
  .caja13 {
    grid-row-start: span 2; }
  .caja11 {
    grid-column-start: span 2; }
  .caja14 {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .caja8 {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  /*estilos del contenido*/
  .contenido {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "h1 h1" "texto img" "texto-dos texto-dos";
    justify-items: center; }
    .contenido h1 {
      grid-area: h1; }
    .contenido .texto {
      margin: 4rem;
      font-size: 20px;
      grid-area: texto;
      text-align: center; }
      .contenido .texto span {
        display: block;
        text-align: center; }
    .contenido .texto-dos {
      grid-area: texto-dos;
      font-size: 20px; }
    .contenido img {
      grid-area: img;
      margin: 2rem; }
  .servicios .eventos {
    margin: 2rem;
    flex-direction: row;
    justify-content: space-around; }
  .servicios section h2 {
    font-size: 25px; }
  .contacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "h1 h1"   "form img" "form img"; }
    .contacto h1 {
      grid-area: h1; }
    .contacto form {
      grid-area: form; }
    .contacto img {
      grid-area: img;
      margin: 6rem; }
  main ul li {
    font-size: 1.5rem; }
  .foto-2 {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer-home {
    width: 95%; } }
