/*Estilos del main*/

main{

    h1{
        @include flex;
        color: $color-titulo;
        margin: 3rem;
        font-size: 35px;
        font-family: 'Caveat', cursive;
        font-family: 'Kaushan Script', cursive;
        font-family: 'Raleway', sans-serif;
        span{
            display: block;
            text-align: center;
        }
    }

    .subtitulo{
        color: $color-subtitulo;
        text-align: center;
        margin: 3rem;
        font-size: 20px;
        span{
            display: block;
        }
    }
       
    .menu{
        ul{
            display: flex;
            align-items: center;
            text-align: center;
            margin: 2rem;
            list-style: none;
            gap: 1.5rem;
            font-size: 20px;
            li{
                a{
                    color: $color-menu;
                }
            }
            li:hover{
             background-color: rgb(216, 226, 226);  
             transform: scale(0.9);     
            }
            li a:link{
                text-decoration: none;
            }
        }
    }

    .contenedor{
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-auto-rows: 200px;
        padding: 20px;
        grid-gap: 10px;
        .foto-13{
            object-position: 50% 26%;
            }
        .foto-3{
            object-position: 50% 30%;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      
    }
    
    .foto-1{
        @include flex;
        @extend %estilosFotos;
        margin: 0.5rem;
    }

    .foto-2{
        @include flex;
        @extend %estilosFotos;
        margin: 0.5rem;
        
    }

    p{
        @include flex;
        text-align: center;
        margin: 1rem;
        font-size: 1.3rem;
        color:#293560;
        span{
            display: block;
        }
    }

    .texto{
        color:#293560;
    }

    .eventos{
        @include flex;
    }

   form{
    @include flex;
    padding: 20px;
    margin: 3.5rem;
    right: 200px;
    width: 300px;
    
    input{
        outline: none;
        padding: 5px;
    }

    .mensaje{
        padding: 20px;
    }

    .botones{
        margin: 25px;
        padding: 15px;
    }
   }   
}



